<for|i| of=data>
<div id="the-row-man" class="product-table-row">
  <p class="paragraph-78">${i.name}</p>
  <p class="paragraph-78">${i.inci_name}</p>
  <p class="paragraph-78">${i.functions}</p>
  <p class="paragraph-78">${i.application}</p>
  <p class="paragraph-78">${i.origin}</p>
  <p class="paragraph-78">${i.manufacturer}</p>
</div>
</for>
